:root {
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --dark: #1d1d1d;
  --dark-rgb: 29, 29, 29;

  --foreground: #fff;
  --foreground-rgb: 255, 255, 255;
  --background: #1d1d1d;
  --background-rgb: 29, 29, 29;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25rem;
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 4rem;
}

button {
  color: var(--foreground);
  background: transparent;
  border: 1px solid var(--foreground);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: serif;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none;
  background: rgba(var(--foreground-rgb), 0.1);
}
