:root {
  --white: #fff;
  --gray-700: #2f3237;
  --gray-900: #1d1d1d;
  --blue: cornflowerblue;

  --foreground: var(--white);
  --background: var(--gray-900);
  --primary: var(--blue);
  --code-background: var(--gray-700);
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25rem;
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 4rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  color: var(--foreground);
  background: transparent;
  border: 1px solid var(--foreground);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: serif;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none;
  opacity: 0.8;
}

code {
  padding: 0 0.2rem;
  line-height: 1.5;
  background-color: var(--code-background);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

select {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}
